* {
    box-sizing: border-box;
}
body, html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding-top: 25vh;
    background-color: #161616;
    color: white;
    position: relative;
}
body > div {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
}
.time {
    position: absolute;
    top: 0;
    left: 2rem;
}
.title {
    font-size: 4rem;
    position: relative;
}
.title > span {
    font-style: italic;
    font-size: 2rem !important;
    margin-left: 2rem;
    position: absolute;
}
.temp > button {
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: blue;
}
.temp {
    position: relative;
}
.temp_tool {
    visibility: hidden;
    position: absolute;
    width: 15rem;
    background-color: grey;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 5px;
    bottom: 150%;
}
.temp_tool::after {
    content: "";
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: grey;
}
.temp > button:hover ~ .temp_tool {
    visibility: visible;
}
.other_info > span:first-child {
    margin-right: 2rem;
}


@media only screen and (max-width: 1024px) {
    body, html {
        font-size: 2.4vw;
    }
    .logo > img {
        width: 13vw;
    }
}